<% provide :page_title, 'Stations' %>
<% currently_at 'Home' %>
<div class="text-center mt-5">
  <h1 class="mb-4">Stations:</h1>
  <div class="row row-cols-1 row-cols-md-5 g-4 mb-4">
    <% @stations.each do |station| %>
      <div class="col">
        <div class="card" style="width: 300px;">
          <h2 class="mb-4 card-header"><%= station.name %></h2>
          <div class="card-body">
            <%= link_to "Show", station_path(station), class: 'btn btn-secondary btn-sm', :method => :get %>
            <% if user_signed_in? %>
              <%= link_to "Edit", edit_station_path(station), class: 'btn btn-secondary btn-sm', :method => :get %>
              <%= link_to "Destroy", station_path(station), class: 'btn btn-danger btn-sm', data: {method: :delete, confirm: "Are you sure?"} %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <%= button_to "Add new station", new_station_path, :id => 'open-contacts-dialog-btn',
    class: 'btn btn-primary', :method => :get %>
  <% end %>
</div>