<% currently_at 'Home' %>
<h1 class="mb-4"><%= @station.name%></h1>
<h1 class="mb-4">Station phone: <%= @station.phone%></h1>
<h1 class="mb-4">Station address<%= @station.address%></h1>
<h1 class="mb-4">Station information<%= @station.info%></h1>
<h1 class="mb-4">Station store info:<%= @station.store_info%></h1>